
.signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 700px;
}
.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: white;
    border: 1px solid #bacdd8;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}
.formImage {
    width:500px;
    margin-top: 20px;
}
  @media only screen and (max-width:480px) {
    .formImage {
        display: none;
    }
    .card {
        justify-content: center;
    }
  }