.table-content {
  overflow-x: auto;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
  }
  table {
    border-collapse: collapse;    
    width: 100%;

  }  
th, td {
    padding: 15px;
  }
.add-status {
  background-color: rgb(186, 245, 186);
}
.delete-status {
  background-color:  #f37373;
}
.action-button {
    width:20px;
}
tbody{
  align-items: center;
}
.no-data {
   font-size:20px;
   font-weight: 600;
}
.close{
  float: right;
}